WG_IF=wg0
WG_NET_CIDR=10.66.66.1/24
WG_NET=10.66.66.0/24
WG_PORT=51820

# Client generation defaults
VPN_NET=10.66.66
DNS=1.1.1.1
SERVER_ENDPOINT=             # optional: set your public IP or DNS (e.g. 57.129.0.166). If empty, detected automatically.
CLIENT_ALLOWED_IPS=0.0.0.0/0 # full tunnel; change to split tunnel if needed
CLIENT_KEEPALIVE=25
